@*@model IEnumerable<MockAssessment5.Models.PersonViewModel>*@
@model MockAssessment5.Models.PersonViewModel
@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>


    <p>
        Name = @Html.DisplayFor(model => model.UserName)
    </p>
    <p>
        Age = @Html.DisplayFor(model => model.Age)
    </p>
    @if (Model.CanDrive == true)
    {
        <p>This person can drive</p>
    }
    @if (Model.CanDrink == true)
    {
        <h2>This person can Drink</h2>
    }
    else
    {
        <h1>This Person is too young to drink</h1>
    }

